.panel {
    position: relative;
    margin: 10px auto;
    max-width: 1500px;
    overflow: hidden;
/*    border: 1px solid #ccc;*/
    border-radius: 10px;
    background-color: rgb(242, 242, 242, 0.8);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

.panel a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.panel a:hover {
  background-color: #ddd;

}

.active-panel {
 
  color: white;

}

.panel .icon-burger {
  display: none;
}

@media screen and (max-width: 600px) {
  .panel a:not(:first-child) {display: none;}
  .panel a.icon-burger {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .panel.responsive {position: relative;}
  .panel.responsive .icon-burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .panel.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}