.side{
   float: left;
   width: 50%;
   padding: 10px;
   vertical-align: middle;
   text-align: left;
}
.right { font-size: 20px; padding-top: 40px; }
.right p { font-size: 20px; }
    
.left {
      width: 600px;  
}
.acp-add-prod-wrap {
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background: #fff;
    border: 1px solid silver;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;   
  
}

.acp-add-prod-wrap input, .acp-add-prod-wrap textarea{
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 5px;
   

}
.acp-add-prod-wrap form {
     display: block;
     float: left;
}

.acp-add-prod-wrap textarea { 

    height: 300px;

}

.quantity input {width: 230px;}
.option {font-size: 20px;}
.acp-add-prod-wrap:after {
    content: "";
    display: table;
    clear: both;
}
.btn-add, .btn-add-stock, .btn-conf-details {
    text-align: center;
    padding : 2px;
    width: 130px;
    height: 30px;
    background-color: #3498db;
    color: #fff;
    border-radius:3px;
    border: 0;
    font-size: 20px;

}
.btn-add-stock { width: 250px; }
.btn-conf-details { width: 320px; }
.btn-add:hover, .btn-add-stock:hover, .btn-conf-details:hover  {
    background-color: rgba(52, 152, 219, 0.8);
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    padding: 0px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


/* Fake image, just for this example */
.fakeimg{
    max-width: 354px;
    height: 354px;
    border-radius: 10px;
    margin: 40px 0 20px 80px;
    border: 2px solid gray;
    
}
.fakeimg > p{ text-align: center; margin-top: 146px; }
.img > input{
    max-width: 250px;
    height: 50px;
    border-radius: 10px;
    margin: 40px 0 40px 80px;
    border: 2px solid gray;
    padding: 0;
  
    
}
.fakeimg img{ 
    width: 350px;
    height: 350px;
    border-radius: 10px;
   
}
