* {
    box-sizing: border-box;
}
/* Create equal columns that floats next to each other */
.column {
    float: left;
    margin-left: 10px;
    width: 5%;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    text-align: left;
    
}
.column input {background-color: #fff; text-align: right; width: 40px;}
.two { 
    width: 20%;
    margin-left: 10px;
}

.two-stock {margin-left: 10px; width: 45%;}
.three { margin-left: 10px; width: 10%; }  
.four{ margin-left: 10px; white-space: nowrap } 
.five{margin-left: 10px; position: relative; float: right;} 
.six {margin-right: 25px; position: relative; float: left; }
.prod-name { margin-left: 5px; width: 50%; }
.stock-name { margin-left: 10px; width: 30%; }
.unit{
    width: 10%;
    text-align: right;
    margin-left: 10px;
}
.unit2{    
    margin-left: 10px;
    width: 12%;
    text-align: right;
}
.btn-add, .btn-details, .btn-checkout,
.btn-cart, .btn-new-prod {
    text-align: center;
    padding : 2px;
    width: 130px;
    height: 30px;
    background-color: #3498db;
    color: #fff;
    border-radius:3px;
    border:0;
    font-size: 20px;

}

.btn-remove > a{
    text-align: center;
    vertical-align: middle;
    padding : 1px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: 800;
    border-radius:3px;
    border:0;
    font-size: 18px;
    float:right;
    margin-right:20px;

}

.btn-remove >a:hover{
    width: 60px;
    height: 60px;
    background-color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color: red;
    margin: -15px 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}



.btn-checkout { float: right; margin-bottom: 10px; width: 250px; vertical-align: middle;}
.btn-checkout a{ color: #FFFFFF;}
/*.btn-chp { position: relative; margin: 80px auto 25px;  }*/
.btn-cart, .btn-details{ width: 100px; float: left; margin: 0 12px; }
.btn-new-prod { position: relative; margin: 25px 40px 25px auto; width: 250px; text-align: center; }
.btn-new-prod a, .btn-details a { color: #fff;}
.btn-add:hover, .btn-details:hover, .btn-checkout:hover,
.btn-cart:hover,.btn-new-prod:hover {
    background-color: rgba(52, 152, 219, 0.8);
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    padding: 0px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.category-img img{
    width: 39px;
    height: 41px;
}
/* Clear floats after the columns */
.cart-row:after, .row-checkout:after, .container-cart:after {
    content: "";
    display: table;
    clear: both;

}

.cart-row{
    width: border-box;
    margin: 10px auto;
    padding: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.field input { width: 60px;  border: 1px solid silver; border-radius: 8px; text-align: center; }
/* confirm address */
.container-checkout.col2 {width: 100%;}
.column-check label {
    display: block;
    font-size: 18px;
}
.column-check input{ 
    width: 520px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 5px;
    font-size: 18px;

}
/* Shopping cart own elements */
.container-cart {
    position: relative;
    margin: 10px auto;
    max-width:1500px;
    background-color: #f2f2f2;
    padding: 0px 20px 10px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.container-cart h2{
    text-align: center;

}

.container-cart h4{
    font-size: 25px;

}
a {
    color: #2196F3;
}
hr {
    border: 1px solid lightgrey;
}
span.price {
    float: right;
    color: grey;
}

/* Checkout */
.row-checkout { width: 100%; }
.cat, .check-price { width: 8%; }
.delivdate { width: 25%; }
.check-name { width: 71%; }
.total { 
    width: 100%;  
    float: right;   
    padding: 10px 25px 10px 0px;
    font-size: 22px;
}

.container-checkout {
    float: left;
    padding: 10px;
    width: 100%;

}
.col1 {
    width: 65%;  
}

.col2 {
    width: 35%; 
}

/* confirm address */
.column-stock {width: 100%;}
.column-stock label {
    display: block;
}
.column-stock input{ 
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 5px;

}
.btn-paypal { width: 400px; height: 50px; margin: 80px auto 25px; float: right; }
/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}