* {
  box-sizing: border-box;
}
/* Create four equal columns that floats next to each other */
.column {
   float: left;
   width: 5%;
   padding: 10px;
   height: 50px;
   vertical-align: middle;
   text-align: left;
}
.column input {background-color: #fff; text-align: right; width: 40px;}
.two { width: 40%; }

.two-stock {width: 45%;}
.three { width: 23%; }       
.unit{
    width: 6%;
    text-align: right;
}
.unit2{    
    width: 12%;
    text-align: right;
}
.btn-add, .btn-details, .btn-checkout,
.btn-cart{
    text-align: center;
    padding : 5px;
    width: 200px;
    height: 30px;
    background-color: grey;
 /*   color: #fff; */
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    

}
.btn-checkout { float: right; margin-bottom: 10px; }
.btn-cart, .btn-details{ width: 100px; float: left; margin: 0 12px; }

.btn-add:hover, .btn-details:hover, .btn-checkout:hover,
.btn-cart:hover {
    background-color: gray;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.category-img img{
    width: 39px;
    height: 41px;
}
/* Clear floats after the columns */
.row-stock:after, .row-checkout:after, .container-cart:after {
    content: "";
    display: table;
    clear: both;

}

/* Shopping cart own elements */
.container-cart {
  background-color: #f2f2f2;
  padding: 0px 20px 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
a {
  color: #2196F3;
}
hr {
  border: 1px solid lightgrey;
}
span.price {
  float: right;
  color: grey;
}

/* Checkout */
.row-checkout { width: 100%; }
.cat, .check-price { width: 8%; }
.delivdate { width: 25%; }
.check-name { width: 71%; }
.total { 
    width: 100%;  
    float: right;   
    padding: 10px 25px 10px 0px;
    font-size: 18px;
}

.container-checkout {
   float: left;
   padding: 10px;
   width: 100%;
      
}
.col1 {
    width: 65%;  
}

.col2 {
     width: 35%; 
}

/* confirm address */
.column-stock {width: 100%;}
.column-stock label {
 display: block;
}
.column-stock input{ 
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    padding: 5px;

}
.btn-paypal { width: 400px; float: right; }
/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}